
body{
    font-family: 'Heebo', sans-serif;
    background: linear-gradient(#041875, white);
}

.contener{
    display: flex;
    align-items: center;
    background-color: #6679a0;
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 80px;
}

.img-time{
    width: 500px;
    
}

.titulo{
    font-size: 3rem;
    font-weight: 500;
    font-family: 'Heebo';
    text-align: center;
    margin-bottom: 15px;
}

.paragrafo{
    font-size: 1.5rem;
    font-weight: 400;
    font-family: 'Heebo';
    text-align: center;
    margin-bottom: 15px;
}

.formulario{
    margin-left: 50px;
}

.tel{
    width: 300px;
    height: 24px;
    border-radius: 5px;
    border-style:none;

}

.titulo-form{
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Heebo';
    margin-bottom: 5px;
    margin-top: 5px;
}

.nome{
    width: 300px;
    height: 24px;
    border-radius: 5px;
    border-style:none;
    
}

.endereco{
    width: 300px;
    height: 24px;
    border-radius: 5px;
    border-style: none;
}

.data{
    width: 150px;
    height: 20px;
    border-radius: 5px;
}

.botao{
    color: aliceblue;
    background: blue;
    font-size: 20px;
    width: 300px;
    height: 40px;
    border-style:none;
    border-radius: 20px;
    box-shadow: 2px 2px 3px lightblue;
    cursor: pointer;
    margin-top: 10px;

}

.posisao{
    height: 28px;
}

.rodape{
    text-align: center;
}