
body{
    font-family: 'Heebo', sans-serif;
}

.contener-total{
    display: flex;
    background: linear-gradient(#041875, white);
    padding-top: 50px;
    padding-left: 120px;
    padding-right: 120px;
}

.contener-conteudo{
    background-color: #6679a0;
}

.img-time{
    width: 500px;
}

.titulo{
    font-size: 3rem;
    font-weight: 500;
    font-family: 'Heebo';
    text-align: center;
    margin-top: 20px;
   
}

.paragrafo{
    font-size: 1.5rem;
    font-weight: 400;
    font-family: 'Heebo';
    text-align: center;
    margin-top: 10px;
    
}

.formulario{
    margin-left: 150px;
    margin-top: 10px;
}

.botao{
    color: aliceblue;
    background: blue;
    font-size: 20px;
    width: 300px;
    height: 40px;
    border-style:none;
    border-radius: 20px;
    box-shadow: 2px 2px 3px lightblue;
    cursor: pointer;
    margin-top: 10px;
   
}

.rodape{
    text-align: center;
    margin-top: 70px;
    padding-bottom: 10px;
    padding-top: 5px;
    background-color: #041875;
    color: aliceblue;
}

@media only screen and (max-width: 600px){
    .contener-total{
        display: flex;
        flex-wrap: wrap;
        padding-top: 50px;
        padding-left: 30px;
    }

    .botao{
        margin-bottom: 10px;
    }

    .formulario{
        margin-left: 10px;
        margin-right: 10px;
    }
    .img-time{
        width: 324px;
    }
}